<div class="container wh-100" id="main_div" #main_div>
    <div class="row" style="height: 100vh !important;">
        <div class="col-2">
        </div>
        <div class="col-8 text-center my-auto text-light">
            <h1>
                Button with counter
            </h1>
            
            <h5>
                count: {{count}}
            </h5>
            
            <button mat-button mat-raised-button color="warn" (click)="addCount()">
                +1
            </button>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>